@import "variables";
@import "globals";





/* navbar */

.navbar {
    background-color: $background-nav;
    color: $text-color;
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
}

.navbar-brand {
    padding: 0;
}

.nav-item {
    padding: 0 30px;
}

/* header */

.jumbotron {
    background-color: $background-jumbotron;
    color: $text-color;
    margin: 40px auto;
}

.profile-img {
    border-radius: 100%;
    border-width: 5px;
    border-style: double;
    width: 50%;
}

/* Portfolio */
#portfolio, #languages, #skillSet {
    margin: 120px auto;
}

.card-body {
    height: 200px;
}

.img-container {
    height: 200px;
    overflow: auto;
}

.card-footer {
    background-color: $background-card-footer;
}

/* Skills */
.icon {
    font-size: 8rem;

    &-HTML {
        color: orange;

        &:hover{
            color: rgb(248, 220, 167);
        }
    }
    
    &-CSS {
        color: rgb(10, 180, 247);

        &:hover{
            color: rgb(165, 228, 253);
        }
    }

    &-JS {
        color: yellow;

        &:hover{
            color: rgb(255, 255, 196);
        }
    }

    &-Bootstrap {
        color: purple;

        &:hover{
            color: rgb(255, 206, 255);
        }
    }

    &-NodeJS {
        color: green;

        &:hover{
            color: rgb(164, 255, 164);
        }
    }

    &-React {
        color: rgb(127, 219, 255);

        &:hover{
            color: rgb(210, 242, 255);
        }
    }
}

/* Languages */

.table {
    width: 60%;
    margin: auto;
}

.table-dark {
    background-color: $background-body;
}

.stars {
    text-align: start;
    color: yellow;
}

/* Footer */

.footer {
    background-color: $background-footer;
    padding: 50px 0 20px;
    text-align: center;

    &-link {
        margin: 10px 20px;

        &:hover{
            color: #EAF6F6;
        }
    }

    &-p {
        color: #EAF6F6;
        font-size: 0.75rem;
        padding: 20px 0;
    }
}


/* Scrollbars */

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
